.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left; 
}

.text-side {
  flex: 1; /* allows flexible space allocation */
  padding-right: 2rem; /* space between text and circles */
  color: black;
}

.circle-side {
  flex: 1; /* allows flexible space allocation */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em; /* space between circles */
}

.circle, .selected_circle {
  margin: 0.5em; /* Space between circles if necessary */
  /* Additional circle styling as needed */
}
