.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left; 
}

.text-side {
  flex: 1; /* allows flexible space allocation */
  padding-right: 2rem; /* space between text and circles */
  color: black;
}

.circle-side {
  flex: 1; /* allows flexible space allocation */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em; /* space between circles */
}

.circle, .selected_circle {
  margin: 0.5em; /* Space between circles if necessary */
  /* Additional circle styling as needed */
}


/* Positions for each circle to form the ring */
.circle:nth-child(1) { /* First circle */
  top: 0;
  left: 0%;
  transform: translate(-50%, -100%);
}

.circle:nth-child(2) { /* Second circle */
  top: -35px;
  right: 70%;
  transform: translate(100%, -50%);
}

.circle:nth-child(3) { /* Third circle */
  bottom: 70px;
  left: -40%;
  transform: translate(-50%, 100%);
}

.circle:nth-child(4) { /* Fourth circle */
  top: -140px;
  left: 25%;
  transform: translate(-100%, -50%);
}